      <!-- Drill: Social Links -->
      <div class="cp-detail" data-detail="social">
        <div class="cp-detail-header">
          <button class="cp-back">‹</button>
          <div class="cp-detail-title">Social Links</div>
        </div>
        <div class="cp-section open">
          <div class="cp-head-row">Icons <span class="chev">›</span></div>
          <div class="cp-body">
            <div class="cp-social-item on">
              <div class="cp-toggle-row"><span class="lbl">Instagram</span><span class="toggle on" data-bind=".social-strip span:nth-child(1)"></span></div>
              <div class="cp-social-link"><input class="cp-input-text" placeholder="https://instagram.com/yourbusiness" /></div>
            </div>
            <div class="cp-social-item on">
              <div class="cp-toggle-row"><span class="lbl">Facebook</span><span class="toggle on" data-bind=".social-strip span:nth-child(2)"></span></div>
              <div class="cp-social-link"><input class="cp-input-text" placeholder="https://facebook.com/yourbusiness" /></div>
            </div>
            <div class="cp-social-item on">
              <div class="cp-toggle-row"><span class="lbl">TikTok</span><span class="toggle on" data-bind=".social-strip span:nth-child(3)"></span></div>
              <div class="cp-social-link"><input class="cp-input-text" placeholder="https://tiktok.com/@yourbusiness" /></div>
            </div>
            <div class="cp-social-item on">
              <div class="cp-toggle-row"><span class="lbl">YouTube</span><span class="toggle on" data-bind=".social-strip span:nth-child(4)"></span></div>
              <div class="cp-social-link"><input class="cp-input-text" placeholder="https://youtube.com/@yourbusiness" /></div>
            </div>
          </div>
        </div>
      </div>
