    <div class="cp-page" id="cp-more" style="display:none;">
      <div class="cp-master">
        <h3 class="cp-head">Editing page</h3>
        <div class="cp-page-title">More</div>
        <div class="cp-page-sub">Grid of quick-access tiles. Toggle any tile off to hide it on the phone.</div>

        <div class="cp-section open">
          <div class="cp-head-row">More tiles <span class="chev">›</span></div>
          <div class="cp-body">
            <div class="cp-toggle-row"><span class="lbl">Home</span><span class="toggle on" data-bind=".more-tile:nth-child(1)"></span></div>
            <div class="cp-toggle-row"><span class="lbl">My Account</span><span class="toggle on" data-bind=".more-tile:nth-child(2)"></span></div>
            <div class="cp-toggle-row"><span class="lbl">My Orders</span><span class="toggle on" data-bind=".more-tile:nth-child(3)"></span></div>
            <div class="cp-toggle-row"><span class="lbl">Loyalty Rewards</span><span class="toggle on" data-bind=".more-tile:nth-child(4)"></span></div>
            <div class="cp-toggle-row"><span class="lbl">Our Menu</span><span class="toggle on" data-bind=".more-tile:nth-child(5)"></span></div>
            <div class="cp-toggle-row"><span class="lbl">Find a Cafe</span><span class="toggle on" data-bind=".more-tile:nth-child(6)"></span></div>
            <div class="cp-toggle-row"><span class="lbl">Refer a Friend</span><span class="toggle on" data-bind=".more-tile:nth-child(7)"></span></div>
            <div class="cp-toggle-row"><span class="lbl">Our Story</span><span class="toggle on" data-bind=".more-tile:nth-child(8)"></span></div>
            <div class="cp-toggle-row"><span class="lbl">Contact Us</span><span class="toggle on" data-bind=".more-tile:nth-child(9)"></span></div>
            <div class="cp-toggle-row"><span class="lbl">About Us</span><span class="toggle on" data-bind=".more-tile:nth-child(10)"></span></div>
          </div>
        </div>

        <div class="cp-info"><b>Note:</b> reorder + add is a full drill (P2). Toggle to hide is the P1 shortcut.</div>
      </div>
    </div>
